<section id="review-banner" class="carousel slide" data-ride"carousel">
    <div class="carousel-inner">
        {% for user_pick in footer_user_picks_list %}
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
            <div class="blur-holder">
                <img class="d-block w-100 banner__background" src="{{ url_for('upload', filename=user_pick.cover_photo) }}" alt="background">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <img src="{{ url_for('upload', filename=user_pick.cover_photo) }}" alt="{{ user_pick.name }} by {{ user_pick.author }}" class="banner__img" />
                <h5 class="banner__title">{{ user_pick.name }}</h5>
                <p class="banner__description">{{ user_pick.description | truncate(100) }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <a class="carousel-control-prev" href="#review-banner" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    
    <a class="carousel-control-next" href="#review-banner" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>