<section id="testimonials" class="has-grey-background-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 testimonial">
                <div class="testimonial__inner">
                    <span class="has-primary-color">"</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id diam ac nunc ultrices tincidunt sed sit amet nisi. Phasellus rutrum, magna id ultrices pharetra, arcu augue dictum nisi et hendrerit nulla.<span class="has-primary-color">"</span>
                </div>
            </div>
            <div class="col-md-6 twitter has-primary-background-color">
                <div class="twitter__inner">
                    <i class="fa fa-twitter fa-2x"></i>
                    <p>Stay tuned for new and updated features. If you have any suggestions or recommendations to improve the service of this application then please email <a href="mailto:features@bookreview.com">features@bookreview.com</a></p>
                    <p>@BookReview</p>
                </div>
            </div>
        </div>
    </div>
</section>
