#review-banner {
    .carousel-inner {
        max-height: 500px;
        
        .carousel-item {
            transition: $transition-base;
            
            .blur-holder {
                overflow: hidden;
                transform: scale(1.2);
            }
            
            .banner__background {
                object-fit: cover;
                object-position: center;
                max-height: 500px;
                min-height: 500px;
                
                filter: blur(5px);
                transition: $transition-base;
                
                @media ( max-width: 576px ) {
                    filter: blur(90px);
                }
            }
            
            .banner__img {
                max-height: 250px;
                margin-bottom: 1rem;
                box-shadow: $box-shadow;
            }
            
            .banner__title {
                margin-bottom: 1rem;
                text: {
                    align: center;
                    transform: uppercase;
                }
                font-weight: 700;
            }
            
            .banner__description {
                text-align: center;
                font-weight: 500;
            }
        }
    }
}