.book {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    transition: $transition-base;
    
    &:hover {
        box-shadow: $box-shadow;
        
        .book__image,
        .book__title {
            transform: translateY(-400px);
        }
        
        .book__hover {
            transform: translateY(0);
        }
    }
    
    &__image {
        transition: $transition-base;
        
        img {
            width: 100%;
            min-height: 400px;
            max-height: 400px;
            object-fit: cover;
            object-position: center;
            margin: 0;
        }
    }
    
    &__title {
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: $transition-base;
        
        p  {
            background-color: #fff;
            text-align: center;
            margin: 0;
        }
    }
    
    &__hover {
        width: 100%;
        position: absolute;
        bottom: 0;
        min-height: 400px;
        max-height: 400px;
        transform: translateY(400px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        transition: $transition-base;
        
        p {
            flex: 1 0 100%;
            text-align: center;
        }
    }
}