.book-scroller {
    padding-bottom: calc(14px + 3rem);
    
    .book {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        box-shadow: $box-shadow-sm;
        transition: $transition-base;
        
        &:hover {
            box-shadow: $box-shadow;
            
            .book__image,
            .book__title {
                transform: translateY(-400px);
            }
            
            .book__hover {
                transform: translateY(0);
            }
        }
        
        &__image {
            transition: $transition-base;
            
            img {
                width: 100%;
                min-height: 400px;
                max-height: 400px;
                object-fit: cover;
                object-position: center;
                margin: 0;
            }
        }
        
        &__title {
            width: 100%;
            position: absolute;
            bottom: 0;
            transition: $transition-base;
            
            p  {
                background-color: #fff;
                text-align: center;
                margin: 0;
            }
        }
        
        &__hover {
            width: 100%;
            position: absolute;
            bottom: 0;
            min-height: 400px;
            max-height: 400px;
            background-size: cover !important;
            background-position: center !important;
            transform: translateY(400px);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            transition: $transition-base;
            
            h2,
            p {
                flex: 1 0 100%;
                text-align: center;
                color: #fff;
                
                position: relative;
                top: -23px;
            }
            
            > div {
                position: absolute;
                bottom: 0;
                text-align: center;
                background-color: #f4f4f4;
                border-top: 1px solid #dbdbdb;
                transition: $transition-base;
                
                &:first-of-type {
                    left: 0;
                    border-right: 0.5px solid #dbdbdb;
                    
                    &:hover {
                        background-color: #dbdbdb;
                    }
                }
                
                &:last-of-type {
                    right: 0;
                    border-left: 0.5px solid #dbdbdb;
                    
                    &:hover {
                        background-color: #dbdbdb;
                    }
                }
                
                a {
                    text-decoration: none;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}


//  move
.os-host-resize-disabled.os-host-scrollbar-vertical-hidden>.os-scrollbar-horizontal, .os-host-rtl.os-host-resize-disabled.os-host-scrollbar-vertical-hidden>.os-scrollbar-horizontal {
    left: 15px;
    right: 15px;
}

// Create book
#create-book,
#edit-book {
    .required {
        color: #ff0000;
    }
    
    .gj-datepicker-md [role=right-icon] {
        color: $body-color;
        right: 7px !important;
        top: 7px !important;
    }
    
    form {
        .form-group {
            margin-bottom: 1.5rem;
            
            label {
                margin-bottom: 0.75rem;
                
                > .required {
                    margin-left: 4px;
                }
            }
        }
    }
}

// Read book
#read-book {
    .book__cover-photo {
        width: 100%;
        display: block;
        margin: 0 auto 1.5em auto;
    }
    
    .book__info-table {
        text-transform: capitalize;
        
        tr:first-of-type {
            th,
            td {
                border-top: 0;
            }
        }
        
        .genre {
            &:after {
                content: ',';
            }
            
            &:last-of-type {
                &:after {
                    content: '';
                }
            }
        }
    }
    
    .book__title {
        // text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    
    .book__description {
        white-space: pre-line;
    }
    
    .book__affiliate-link,
    .book__leave-review {
        // text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        transition: $transition-base;
        
        i {
            position: relative;
            left: 0;
            transition: $transition-base;
        }
        
        &:hover {
            i {
                left: 8px;
            }
        }
    }
    
    small {
        margin-top: .5em;
        display: block;
    }
}

#search-results,
#read-genre {
    .book {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        box-shadow: $box-shadow-sm;
        transition: $transition-base;
        
        &:hover {
            box-shadow: $box-shadow;
            
            .book__image,
            .book__title {
                transform: translateY(-400px);
            }
            
            .book__hover {
                transform: translateY(0);
            }
        }
        
        &__image {
            transition: $transition-base;
            
            img {
                width: 100%;
                min-height: 400px;
                max-height: 400px;
                object-fit: cover;
                object-position: center;
                margin: 0;
            }
        }
        
        &__title {
            width: 100%;
            position: absolute;
            bottom: 0;
            transition: $transition-base;
            
            p  {
                background-color: #fff;
                text-align: center;
                margin: 0;
            }
        }
        
        &__hover {
            width: 100%;
            position: absolute;
            bottom: 0;
            min-height: 400px;
            max-height: 400px;
            background-size: cover !important;
            background-position: center !important;
            transform: translateY(400px);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            transition: $transition-base;
            
            h2,
            p {
                flex: 1 0 100%;
                text-align: center;
                color: #fff;
                
                position: relative;
                top: -23px;
            }
            
            > div {
                position: absolute;
                bottom: 0;
                text-align: center;
                background-color: #f4f4f4;
                border-top: 1px solid #dbdbdb;
                transition: $transition-base;
                
                &:first-of-type {
                    left: 0;
                    border-right: 0.5px solid #dbdbdb;
                    
                    &:hover {
                        background-color: #dbdbdb;
                    }
                }
                
                &:last-of-type {
                    right: 0;
                    border-left: 0.5px solid #dbdbdb;
                    
                    &:hover {
                        background-color: #dbdbdb;
                    }
                }
                
                a {
                    text-decoration: none;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}