#list-genres {
    .genre {
        box-shadow: $box-shadow-sm;
        transition: $transition-base;
        
        &:hover {
            box-shadow: $box-shadow;
        }
        
        .genre__title {
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f4f4f4;
                min-height: 80px;
                text-transform: capitalize;
                transition: $transition-base;
            }
            
            a {
                color: $body-color;
                text-decoration: none;
            }
            
            &:hover {
                p {
                    background-color: $primary;
                    color: #fff;
                }
            }
        }
    }
}