nav {
    &.navbar {
        border: 0;
        padding: 0 1.5rem;
        background-color: #f4f4f4;
        
        @media ( max-width: 576px ) {
            padding: 0;
            background-color: $primary;
        }
        
        a.navbar-brand {
            padding: 1.5rem 0;
        }
        
        ul.navbar-nav {
            li.nav-item {
                a {
                    padding: 2rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    border-right: 1px solid #dbdbdb;
                    transition: $transition-base;
                    
                    @media ( max-width: 576px ) {
                        padding: 1rem;
                        border: 0 !important;
                    }
                    
                    &:hover {
                        color: #fff;
                        background-color: $primary;
                    }
                    
                    &.dropdown-toggle {
                        &:after {
                            margin-left: 0.5em;
                            vertical-align: 0.175em;
                        }
                    }
                }
                
                &:first-of-type {
                    a {
                        border-left: 1px solid #dbdbdb;
                    }
                }
                
                &:last-of-type {
                    margin-right: 2rem;
                    
                    @media ( max-width: 576px ) {
                        margin-right: 0;
                    }
                }
                
                > .dropdown-menu {
                    background-color: #f4f4f4;
                    margin: 0;
                    padding: 0;
                    border-radius: 0;
                    border-color: #dbdbdb;
                    min-width: 142.28px;
                    max-width: 142.28px;
                    box-shadow: $box-shadow;
                    
                    @media ( max-width: 576px ) {
                        width: 100%;
                        max-width: unset;
                        min-width: unset;
                        box-shadow: unset;
                    }
                    
                    .dropdown-item {
                        padding: 1rem 1.5rem;
                        text-align: center;
                        border: 0;
                        color: $primary;
                        white-space: pre-wrap;
                        border-bottom: 1px solid #dbdbdb;
                        
                        @media ( max-width: 576px ) {
                            text-align: left;
                        }
                        
                        &:last-of-type {
                            border-bottom: 0;
                        }
                        
                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
                
                &.darker {
                    background-color: #dbdbdb;
                    
                    @media ( max-width: 576px ) {
                        &:last-of-type {
                            margin-bottom: 1.5rem;
                        }
                    }
                    
                    .nav-link {
                        border-color: #c3c3c3;
                        
                        &.border-left {
                            border-left: 1px solid #c3c3c3 !important;
                            
                            @media ( max-width: 576px ) {
                                border-left: 0 !important;
                            }
                        }
                    }
                }
            }
        }
        
        form.form-inline {
            @media ( max-width: 576px ) {
                padding: 0 1rem;
                margin-bottom: 1.5rem;
            }
            
            input,
            button {
                border-radius: 0;
            }
            
            input {
                @media ( max-width: 576px ) {
                    width: 70%;
                }
            }
            
            button {
                color: #fff;
                background-color: $primary;
                text-transform: uppercase;
                font-weight: 500;
                transition: $transition-base;
                
                &:hover {
                    box-shadow: inset 0 0 200px hsla(0,0%,100%,.15);
                }
                
                @media ( max-width: 576px ) {
                    width: 30%;
                }
            }
        }
    }
}

@media ( max-width: 576px ) {
    .navbar-brand {
        margin-left: 1.5rem;
        color: #f4f4f4;
    }
    
    .navbar-toggler {
        margin-right: 1.5rem;
        background-color: #136966;
    }
    
    .navbar-collapse {
        background-color: #f4f4f4;
    }
    
    .navbar-toggler-icon-custom {
        i {
            color: #f4f4f4;
        }
    }
}