<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>BookReviews</title>{% endblock %}
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/vendors/css/magnific-popup/magnific-popup.css') }}" type="text/css" /> <!-- Magnific Popup | 6 KB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/vendors/css/toastr/toastr.min.css') }}" type="text/css" /> <!-- Toastr | 7 KB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/vendors/css/bootstrap4c/component-chosen.css') }}" type="text/css" /> <!-- Chosen Select | 15 KB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/vendors/css/overlayscrollbars/OverlayScrollbars.min.css') }}" type="text/css" /> <!-- Overlay Scrollbars | 20 KB -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" type="text/css" /> <!-- Font Awesome | 21 KB -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gijgo@1.9.13/css/gijgo.min.css" type="text/css" /> <!-- Gijgo Date Picker | 43 KB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/main.css') }}" type="text/css" /> <!-- Main CSS -->
</head>
<body>
    <header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
        <nav class="navbar navbar-expand-lg justify-content-between">
            <a class="navbar-brand" href="/"><i class="fa fa-book fa-2x"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('get_books') }}" class="nav-link {% if request.path == url_for('get_books') %}active{% endif %}">Books</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genres</a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for genre in navbar_genres %}
                            <a href="{{ url_for('read_genre', genre=genre.genre) }}" class="dropdown-item">{{ genre.genre }}</a>
                            {% endfor %}
                            <a href="{{ url_for('get_genres') }}" class="dropdown-item">View All</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('create_book') }}" class="nav-link {% if request.path == url_for('create_book') %}active{% endif %}">Add a Book</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('create_genre') }}" class="nav-link {% if request.path == url_for('create_genre') %}active{% endif %}">Add a Genre</a>
                    </li>
                    {% block nav_items %}{% endblock %}
                </ul>
                <form action="{{ url_for('search_books') }}" method="POST" class="search-form form-inline">
                    <input type="search" class="form-control" placeholder="Search by book name" aria-label="Search by book name" name="search_term" id="search_term" required>
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </form>
            </div>
        </nav>
    </header>
    
    {% block content %}{% endblock %}
    
    <footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <h5 class="footer__title">Browse By Genre</h5>
                    <ul class="footer__ul">
                        {% for genre in footer_genres %}
                            <li><a href="{{ url_for('read_genre', genre=genre.genre) }}">{{ genre.genre }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer__title">Browse By Staff Picks</h5>
                    <ul class="footer__ul">
                        {% for top_pick in footer_top_picks %}
                            <li><a href="{{ url_for('read_book', book_id=top_pick._id) }}">{{ top_pick.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer__title">Browse By User Ratings</h5>
                    <p>Coming soon...</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer__title">Browse By Upload Date</h5>
                    <ul class="footer__ul">
                        {% for recent_book in footer_recent_books %}
                            <li><a href="{{ url_for('read_book', book_id=recent_book._id) }}">{{ recent_book.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="toastr" data-category="{{ category }}" data-message="{{ message }}"></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <script src="{{ url_for('static', filename='dist/vendors/js/jquery/jquery.min.js') }}"></script> <!-- jQuery -->
    <script src="{{ url_for('static', filename='dist/vendors/js/toastr/toastr.min.js') }}"></script> <!-- Toastr | 6 KB -->
    <script src="{{ url_for('static', filename='dist/vendors/js/magnific-popup/jquery.magnific-popup.min.js') }}"></script> <!-- Magnific Popup | 20 KB -->
    <script src="{{ url_for('static', filename='dist/vendors/js/bootstrap/popper.min.js') }}"></script> <!-- Popper | 21 KB -->
    <script src="{{ url_for('static', filename='dist/vendors/js/chosen-js/chosen.jquery.min.js') }}"></script> <!-- Chosen Select | 29 KB -->
    <script src="{{ url_for('static', filename='dist/vendors/js/overlayscrollbars/OverlayScrollbars.min.js') }}"></script> <!-- Overlay Scrollbars | 52 KB -->
    <script src="{{ url_for('static', filename='dist/vendors/js/bootstrap/bootstrap.min.js') }}"></script> <!-- Bootstrap | 57 KB -->
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.13/js/gijgo.min.js"></script> <!-- Gijgo Date Picker | 174 KB -->
    <script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script> <!-- Main JS -->
</body>
</html>