{% extends 'base.html' %}

{% block title %}<title>Add a new book - BookReviews</title>{% endblock %}

{% block content %}
    <section id="hero-section" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title">Add a Book</h2>
                    <p class="sub-title">Please fill out the fields below. Fields marked with a * are required.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="create-book" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="create-book">
                        <form action="{{ url_for('insert_book') }}" method="POST" enctype="multipart/form-data" class="create-book__form needs-validation" novalidate>
                            <div class="form-group">
                                <label for="name">Book Name<span class="required">*</span></label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="e.g. Harry Potter and the Philosopher's Stone" required>
                                <div class="invalid-feedback">
                                    Please provide a book name.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="form-control-file custom-file-input" name="cover_photo" id="cover_photo" required>
                                        <label for="cover_photo" class="custom-file-label">Cover Photo<span class="required">*</span></label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="description">Book Description<span class="required">*</span></label>
                                <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    Please provide a description of the book.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="isbn">ISBN<span class="required">*</span></label>
                                <input type="number" class="form-control" name="isbn" id="isbn" placeholder="e.g. 9781408845646" required>
                                <div class="invalid-feedback">
                                    Please provide the book ISBN.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="publication_date">Publication Date<span class="required">*</span></label>
                                <input type="text" class="form-control" name="publication_date" id="publication_date" required>
                                <div class="invalid-feedback">
                                    Please provide the publication date.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author">Author<span class="required">*</span></label>
                                <input type="text" class="form-control" name="author" id="author" placeholder="e.g. J. K. Rowling" required>
                                <div class="invalid-feedback">
                                    Please provide the book author.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="publisher">Publisher<span class="required">*</span></label>
                                <input type="text" class="form-control" name="publisher" id="publisher" placeholder="e.g. Harry Potter and the Philosopher's Stone" required>
                                <div class="invalid-feedback">
                                    Please provide the book publisher.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amazon_affiliate_url">Amazon Affiliate URL</label>
                                <input type="text" class="form-control" name="amazon_affiliate_url" id="amazon_affiliate_url" placeholder="e.g. https://www.amazon.co.uk/">
                            </div>
                            <div class="form-group">
                                <label for="genres">Genres<span class="required">*</span></label>
                                <select multiple class="form-control" name="genres" id="genres" required>
                                    {% for genre in genres %}
                                        <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please select at least one genre.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                            <!--    <input type="hidden" class="form-control" name="rating" id="rating" value="0" />-->
                            <!--</div>-->
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" name="top_pick" id="top_pick">
                                    <label class="custom-control-label" for="top_pick">Staff Top Pick?</label>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}