{% extends 'base.html' %}

{% block title %}<title>Edit {{ genre.genre | capitalize }} - BookReviews</title>{% endblock %}

{% block content %}
    <section id="hero-section" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title">Edit Genre ({{ genre.genre | capitalize }})</h2>
                    <p class="sub-title">Please fill out the fields below. Fields marked with a <strong>*</strong> are required.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="edit-genre" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="edit-genre">
                        <form action="{{ url_for('update_genre', genre_id=genre._id) }}" method="POST" class="edit-genre__form needs-validation" novalidate>
                            <div class="form-group">
                                <label for="name">Genre<span class="required">*</span></label>
                                <input type="text" class="form-control" name="genre" id="genre" value="{{ genre.genre }}" required>
                                <div class="invalid-feedback">
                                    Please provide a genre.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}