{% extends 'base.html' %}

{% block title %}<title>Edit {{ book.name }} by {{ book.author }} - BookReviews</title>{% endblock %}

{% block content %}
    <section id="hero-section" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title">{{ book.name }}</h2>
                    <p class="sub-title">You are currently editing {{ book.name }}.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="edit-book" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="edit-book">
                        <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" enctype="multipart/form-data" class="edit-book__form needs-validation" novalidate>
                            <div class="form-group">
                                <label for="name">Book Name</label>
                                <input type="text" class="form-control" name="name" id="name" value="{{ book.name }}">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="form-control-file custom-file-input" name="cover_photo" id="cover_photo">
                                        <label for="cover_photo" class="custom-file-label">Cover Photo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Book Description</label>
                                <textarea class="form-control" name="description" id="description" rows="3">{{ book.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="isbn">ISBN</label>
                                <input type="number" class="form-control" name="isbn" id="isbn" value="{{ book.isbn }}">
                            </div>
                            <div class="form-group">
                                <label for="publication_date">Publication Date</label>
                                <input type="text" class="form-control" name="publication_date" id="publication_date" value="{{ book.publication_date }}">
                            </div>
                            <div class="form-group">
                                <label for="author">Author</label>
                                <input type="text" class="form-control" name="author" id="author" value="{{ book.author }}">
                            </div>
                            <div class="form-group">
                                <label for="publisher">Publisher</label>
                                <input type="text" class="form-control" name="publisher" id="publisher" value="{{ book.publisher }}">
                            </div>
                            <div class="form-group">
                                <label for="amazon_affiliate_url">Amazon Affiliate URL</label>
                                <input type="text" class="form-control" name="amazon_affiliate_url" id="amazon_affiliate_url" value="{{ book.amazon_affiliate_url }}">
                            </div>
                            <div class="form-group">
                                <label for="genres">Genres</label>
                                <select multiple class="form-control" name="genres" id="genres">
                                    {% for genre in genres %}
                                        {% if genre.genre in book.genres %}
                                            <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                                        {% else %}
                                            <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <!--<div class="form-group">-->
                            <!--    <input type="hidden" class="form-control" name="rating" id="rating" value="{{ book.rating }}" />-->
                            <!--</div>-->
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    {% if book.top_pick %}
                                    <input class="custom-control-input" type="checkbox" name="top_pick" id="top_pick" checked>
                                    {% else %}
                                    <input class="custom-control-input" type="checkbox" name="top_pick" id="top_pick">
                                    {% endif %}
                                    <label class="custom-control-label" for="top_pick">Staff Top Pick?</label>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}