{% extends 'base.html' %}

{% block title %}<title>{{ book.name }} by {{ book.author }} - BookReviews</title>{% endblock %}

{% block content %}
    <section id="hero-section" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title">{{ book.name }}</h2>
                    <p class="sub-title">By {{ book.author }}.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="read-book" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="book__title">{{ book.name }}</h3>
                    <p class="book__description">{{ book.description }}</p>
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('upload', filename=book.cover_photo) }}">
                        <img src="{{ url_for('upload', filename=book.cover_photo) }}" alt="The cover photo for the book, {{ book.name }} by {{ book.author }}." class="book__cover-photo" />
                    </a>
                    
                    <table class="table book__info-table">
                        <tbody>
                            <tr>
                                <th scope="col">ISBN:</th>
                                <td>{{ book.isbn }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Publication Date:</th>
                                <td>{{ book.publication_date }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Author:</th>
                                <td>{{ book.author }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Publisher:</th>
                                <td>{{ book.publisher }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Genres:</th>
                                <td>
                                    {% for genre in genres %}
                                        {% if genre.genre in book.genres %}
                                            <span class="genre">{{ genre.genre }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    {% if book.amazon_affiliate_url %}
                    <p><a href="{{ book.amazon_affiliate_url }}" target="_blank" class="btn btn-primary book__affiliate-link">Buy on Amazon <i class="fa fa-long-arrow-right"></i></a></p>
                    <small class="text-center">* Affiliated with Amazon</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}