{% extends 'base.html' %}

{% block title %}<title>Books in the genre: {{ the_genre }} - BookReviews</title>{% endblock %}

{% block nav_items %}
<li class="nav-item">
    <a href="{{ url_for('edit_genre', genre_id=the_genre_id._id) }}" class="nav-link darker">Edit</a>
</li>
<li class="nav-item">
    <a href="{{ url_for('delete_genre', genre_id=the_genre_id._id) }}" class="nav-link darker">Delete</a>
</li>
{% endblock %}

{% block content %}
    <section id="hero-section" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title">Genres</h2>
                    <p class="sub-title">Would you like to browse for books by a specific genre?</p>
                </div>
            </div>
        </div>
    </section>

    <section id="read-genre" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                {% for book in books %}
                <div class="col-md-3 p-0">
                    <div class="book ml-3 mr-3">
                        <div class="book__image">
                            {% if book.cover_photo %}<img src="{{ url_for('upload', filename=book.cover_photo) }}" alt="The cover photo for the book, {{ book.name }} by {{ book.author }}." class="" />{% endif %}
                        </div>
                        <div class="book__title">
                            <p class="p-3">{{ book.name }}</p>
                        </div>
                        <div class="book__hover" style="background: radial-gradient(circle farthest-corner at 75% 37.8%, rgba(24, 132, 128, 0.99) 0%, rgba(24, 132, 128, 0.75) 100.2%), url('{{ url_for('upload', filename=book.cover_photo) }}');">
                            <h2 class="pl-3 pr-3">{{ book.name }}</h2>
                            <p class="pl-3 pr-3">{{ book.description | truncate(100) }}</p>
                            <div class="col-sm-12 col-md-6">
                                <a href="{{ url_for('read_book', book_id=book._id) }}" class="p-3"><i class="fa fa-eye"></i> Read</a>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="p-3"><i class="fa fa-edit"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}