.has-primary-background-color {
    background-color: $primary;
}

.has-secondary-background-color {
    background-color: $secondary;
}

.has-grey-background-color {
    background-color: #f4f4f4;
}

.has-primary-color {
    color: $primary;
}