.title {
    margin-bottom: 1rem;
    text: {
        align: center;
        transform: uppercase;
    }
    font-weight: 700;
}

.sub-title {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 500;
}